{% load static %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8" />
        <!-- My CSS file -->
        <link rel="stylesheet" type="text/css" href="../../static/datamanager/style.css?{% now "U" %}">
        
        <!-- CSS and JS file for crispy form package -->
        {% block link %}
        {% endblock link %} 
        
        <!-- font file -->
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    </head>
    
    <body class="pageBody">

        <header class="main_header">
            <div class="overlay">
                <h1>Interactive Community Environment Mapping</h1>
                <h3>By team AWSL</h3>
                <p>A website to help you find the most suitable community in UIUC by providing detailed information of the block and the platform to rate and share your personal experience about your community.</p>
                    {% block login %}
                    {% endblock %}
            </div>
        </header>

        <div class="content">
            {% block content %}
            {% endblock content %}    
        </div>

        <footer class="site-footer">
            <div class="end-line">
                <h6>Hope it makes you life easier!</h6>
            </div>  
            <p class="end-line-group">Made by AWSL group</p>
        </footer>

    </body>
</html>