{% extends 'datamanager/base.html' %}

{% load bootstrap_toolkit %}
{% load bootstrap_pagination %}
{% load crispy_forms_tags %}

{% block title %}Record detail{% endblock %}

{% block link %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock link %}

{% block login %}
    <form action="{% url 'datamanager:datalist' %}" method="GET">
        {% csrf_token %}
        <button type="submit">Back to data list</button>
    </form>
{% endblock %}

{% block content %}

    <table class="table table-striped table-hover">
        <tr>
            <td><strong>GeoID</strong></td>
            <td><strong>Block</strong></td>
            <td><strong>Population</strong></td>
            <td><strong>Geography</strong></td>
            <td><strong>White</strong></td>
            <td><strong>Black</strong></td>
            <td><strong>Asian</strong></td>
            <td><strong>OtherRace</strong></td>
            <td><strong>Male</strong></td>
            <td><strong>Female</strong></td>
            <td><strong>Young</strong></td>
            <td><strong>Middle</strong></td>
            <td><strong>Old</strong></td>
        </tr>
        <tr>
            <td><p>{{ record.geoid }}</p></td>
            <td><p>{{ record.block }}</p></td>
            <td><p>{{ record.population }}</p></td>
            <td><p>{{ record.geography }}</p></td>
            <td><p>{{ record.white }}</p></td>
            <td><p>{{ record.black }}</p></td>
            <td><p>{{ record.asian }}</p></td>
            <td><p>{{ record.otherrace }}</p></td>
            <td><p>{{ record.male }}</p></td>
            <td><p>{{ record.female }}</p></td>
            <td><p>{{ record.young }}</p></td>
            <td><p>{{ record.middle }}</p></td>
            <td><p>{{ record.old }}</p></td>
        </tr>
    </table>

    <table class="table table-striped table-hover">
        <tr>
            <td><strong>Users' Rate</strong></td>
        </tr>
        <tr>
            <td><p>{{ avg_rate.0 }}</p></td>
        </tr>
    </table>

    <br>

    {% if user_comment %}
        <table class="table table-striped table-hover">
            <caption>All comments</caption>
            <tr>
                <td><strong>Username</strong></td>
                <td><strong>Rate</strong></td>
                <td><strong>Comment</strong></td>
            </tr>
            {% for comment_entry in all_comment %}
            <tr>
                <td><p>{{ comment_entry.0 }}</p></td>
                <td><p>{{ comment_entry.2 }}</p></td>
                <td><p>{{ comment_entry.3 }}</p></td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if all_comment %}
        <table class="table table-striped table-hover">
            <caption>Your comments</caption>
            <tr>
                <td><strong>Username</strong></td>
                <td><strong>Your Rate</strong></td>
                <td><strong>Your Comment</strong></td>
                <td><strong>Action</strong></td>
            </tr>
            {% for comment_entry in user_comment %}
            <tr>
                <td><p>{{ comment_entry.0 }}</p></td>
                <td><p>{{ comment_entry.2 }}</p></td>
                <td><p>{{ comment_entry.3 }}</p></td>
                <td>
                    <form action="{% url 'datamanager:deleteComment' comment_entry.1 comment_entry.3 %}" method="POST">
                        {% csrf_token %}
                        <div class="buttonWrapper">
                            <button type="submit">Delete</button>
                        </div>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    <br>

    <form method="POST">
        {% csrf_token %}
        {% crispy form %}
    </form>
{% endblock %}
