{% extends 'datamanager/base.html' %}

{% block title %}Iteractive Community Envrionment Mapping{% endblock %}
{% block login %}
    {% if user.is_authenticated %}
        <div class="newdataContainer">
            <h2>Hi {{ user.username }}!</h2>
            <form action="{% url 'datamanager:logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            <form action="{% url 'datamanager:newdata' user.username %}" method="GET">
                {% csrf_token %}
                <button type="submit">Provide data</button>
            </form>
            <form action="{% url 'datamanager:datalist' %}" method="GET">
                {% csrf_token %}
                <button type="submit">Data List</button>
            </form>    
        </div>
    {% else %}
        <form action="{% url 'datamanager:login' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Login</button>
        </form>
    {% endif %}
{% endblock %}

{% block content %}
    <div class='interactiveMap'>
        <h2>Interactive Map</h2>
        <img src="../../static/datamanager/champaign.jpg">
    </div>
{% endblock content %}
