{% extends 'datamanager/base.html' %}

{% load bootstrap_toolkit %}
{% load bootstrap_pagination %}
{% load crispy_forms_tags %}

{% block title %}Recommandation{% endblock %}

{% block link %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock link %}

{% block login %}
    <form action="{% url 'datamanager:index' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Back to main page</button>
    </form>
{% endblock %}

{% block content %}
    <h2 class='engineDescription'>The search engine is based on a self-updated machine learning algorithm with statistical adjustment of users' preferences.</h2>
    {% if form %}
        <caption>Default values are set to 'prefer'. 
        </caption>
        <form method="POST">
            {% csrf_token %}
            {% crispy form %}
        </form>
    {% else %}
        {% if record_list %}
            <table class="table table-striped table-hover">
                <tr>
                    <td><strong>GeoID</strong></td>
                    <td><strong>Score</strong></td>
                    <td><strong>South</strong></td>
                    <td><strong>North</strong></td>
                    <td><strong>Main</strong></td>
                    <td><strong>Longitude</strong></td>
                    <td><strong>Latitude</strong></td>
                    <td><strong>Rank</strong></td>
                </tr>
                {% for record in record_list %}
                    <tr>
                        <td><a href="{% url 'datamanager:detail' record.0 %}">{{ record.0 }}</a></td>
                        <td><p>{{ record.1 }}</p></td>
                        <td><p>{{ record.2 }}</p></td>
                        <td><p>{{ record.3 }}</p></td>
                        <td><p>{{ record.4 }}</p></td>
                        <td><p>{{ record.5 }}</p></td>
                        <td><p>{{ record.6 }}</p></td>
                        <td><p>{{ forloop.counter }}</p></td>
                    </tr>
                {% endfor %}
            </table>
            <div>
                <a href="{% url 'datamanager:google' %}"  class="urlsLink">Google Map</a>
                <a href="{% url 'datamanager:heat' %} " class="urlsLink">Heat Map</a>
            </div>
        {% else %}
            <h2 class="Recommandation">
                Sorry! No matching records!!!
            </h2>
        {% endif %}
    {% endif %}

    
{% endblock %}
