{% extends 'datamanager/base.html' %}

{% load bootstrap_toolkit %}
{% load bootstrap_pagination %}
{% load crispy_forms_tags %}

{% block title %}Recommandation{% endblock %}

{% block link %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock link %} 

{% block login %}
    <form action="{% url 'datamanager:index' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Back to main page</button>
    </form>    
{% endblock %}

{% block content %}
    {% if form %}
        <form method="POST">
            {% csrf_token %}
            {% crispy form %}
        </form>
    {% else %}
        {% if record_list %}
            <table class="table table-striped table-hover">
                <tr>
                    <td><strong>GeoID</strong></td>
                    <td><strong>Block</strong></td>
                    <td><strong>Population</strong></td>
                </tr>
                {% for record in record_list %}
                    <tr>
                        <td><a href="{% url 'datamanager:detail' record.0 %}">{{ record.0 }}</a></td>
                        <td><p>{{ record.1 }}</p></td>
                        <td><p>{{ record.3 }}</p></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h2>
                Sorry! No matching records!!!
            </h2>
        {% endif %}
    {% endif %}
{% endblock %}
