{% extends 'datamanager/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Iteractive Community Envrionment Mapping{% endblock %}

{% block link %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock link %}

{% block login %}
    <form action="{% url 'datamanager:index' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Back to main page</button>
    </form>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% crispy form %}
    </form>
{% endblock content %}
