{% extends 'datamanager/base.html' %}

{% block title %}Sign Up{% endblock %}
{% block login %}
    <h2>Welcome to this website! :)</h2>
{% endblock %}

{% block content %}
    <div class="SignUp">
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Sign Up</div>
                    <div class="panel-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{form.as_p}}
                            <div class="buttomWrapper">
                                <button type="submit">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>    
    </div>
{% endblock %}
